In [1]:
# 4.1) i) Create and display a Pandas Series
import pandas as pd

# Data for the series
my_data = [1, 7, 2, 9, 5]

# Create a Pandas Series
series = pd.Series(my_data)

# Display the Series
print("Pandas Series:")
print(series)

Pandas Series:
0    1
1    7
2    2
3    9
4    5
dtype: int64

In [3]:
# 4.1) ii) Convert a Pandas Series to a Python list
import pandas as pd

# Create a Pandas Series
series = pd.Series(['apple', 'banana', 'cherry', 'date'])

print(f"Original Pandas Series (type: {type(series)}):")
print(series)

# Convert the Series to a Python list
python_list = series.tolist()

print(f"\nConverted Python list (type: {type(python_list)}):")
print(python_list)

Original Pandas Series (type: <class 'pandas.core.series.Series'>):
0     apple
1    banana
2    cherry
3      date
dtype: object

Converted Python list (type: <class 'list'>):
['apple', 'banana', 'cherry', 'date']

In [4]:
# 4.2) i) Create a DataFrame from a Dictionary
import pandas as pd
import numpy as np

# Sample data provided in the question
exam_data = {
    'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

# Create the DataFrame with specified index labels
df = pd.DataFrame(exam_data, index=labels)

# Display the DataFrame
print("DataFrame from dictionary:")
print(df)

DataFrame from dictionary:
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

In [5]:
# 4.2) ii) Change a value in a DataFrame
import pandas as pd
import numpy as np

# Sample data
exam_data = {
    'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(exam_data, index=labels)

print("Original DataFrame:")
print(df)

# Change the name 'James' to 'Suresh'
# We use .loc to find the row(s) where 'name' is 'James' and update that value
df.loc[df['name'] == 'James', 'name'] = 'Suresh'

print("\nDataFrame after changing 'James' to 'Suresh':")
print(df)

Original DataFrame:
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

DataFrame after changing 'James' to 'Suresh':
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d     Suresh    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

In [6]:
# 4.2) iii) Insert a new column into a DataFrame
import pandas as pd
import numpy as np

# Sample data
exam_data = {
    'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(exam_data, index=labels)

print("Original DataFrame:")
print(df)

# Data for the new column (must have the same number of rows)
cities = ['New York', 'Moscow', 'London', 'Boston', 'Chicago', 'Paris', 'Sydney', 'Tokyo', 'Lisbon', 'Berlin']

# Insert the new 'city' column
df['city'] = cities

print("\nDataFrame after inserting 'city' column:")
print(df)

Original DataFrame:
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

DataFrame after inserting 'city' column:
        name  score  attempts qualify      city
a  Anastasia   12.5         1     yes  New York
b       Dima    9.0         3      no    Moscow
c  Katherine   16.5         2     yes    London
d      James    NaN         3      no    Boston
e      Emily    9.0         2      no   Chicago
f    Michael   20.0         3     yes     Paris
g    Matthew   14.5         1     yes    Sydney
h      Laura    NaN         1      no     Tokyo
i      Kevin    8.0         2      no    Lisbon
j      Jonas   19.0         1     yes    Berlin

In [8]:
# 4.2) iv & v) Get list of column headers
import pandas as pd
import numpy as np

# Sample data
exam_data = {
    'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(exam_data, index=labels)

# Get the column headers and convert to a list
column_headers_list = df.columns.tolist()

print("List of DataFrame column headers:")
print(column_headers_list)

List of DataFrame column headers:
['name', 'score', 'attempts', 'qualify']